* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body .notificacion {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: #000;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10%;
  box-shadow: 0 1px 10px rgba(6, 5, 5, 0.1);
  z-index: 1000;
  color: #f7df1e;
}

img {
  max-width: 100%;
  height: 350px;
}

.boton {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7df1e;
}

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(6rem + 1vh);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: #f7df1e;
  color: #222;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  background-color: #222;
  color: #f7df1e;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.dark-theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: #f7df1e;
  color: #222;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.dark-theme-btn:hover {
  background-color: #222;
  color: #f7df1e;
}

.dark-mode {
  background-color: #222;
  color: #f7df1e;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.85);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease;
  transform: translate(100%, 0);
}

.panel .menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.panel .menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: #f7df1e;
  transition: all 0.3s ease;
}

.panel .menu a:hover {
  font-weight: bold;
  color: #222;
  background-color: rgba(247, 222, 30, 0.85);
}

.is-active {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  text-align: center;
}

.section .card-filter {
  margin: 2rem;
  padding: 0.5rem;
  width: 50%;
  border-color: #f7df1e;
}

.section .proceso {
  font-weight: bold;
  font-size: 2rem;
}

.filter {
  display: none;
}

.header {
  position: sticky;
  z-index: 998;
  top: 0;
  background: linear-gradient(135deg, #f7df1e, #ff5f5f); /* Degradado de amarillo a rojo */
  color: #222;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-family: 'Arial Black', sans-serif;
  font-size: clamp(2rem, 5vw, 3rem);
  text-transform: uppercase;
  display: inline;
  padding: 0.5rem;
  border-radius: 5px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


#carrito-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0 1rem;
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  background: transparent;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ddd;
}

#icono-carrito {
  background: transparent;
  border: 1px transparent;
  color: #f7df1e;
  border-radius: 50%;
  padding: 1px;
  font-size: 1.5rem;
  cursor: pointer;
}

#carrito-contador {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

#carrito-ventana {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 700px;
  height: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1000;
  transition: width 0.3s ease;
}

#carrito-ventana.visible {
  display: block;
}

@media (max-width: 768px) {
  #carrito-ventana {
    width: 100vw;
    max-width: none;
    height: 80vh;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 480px) {
  #carrito-ventana {
    width: 100vw;
    height: 80vh;
    padding: 0.5rem;
    top: 5%;
  }
}

#precio-dolar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-size: 1.2em;
  margin-left: 20px;
  border-radius: 5px;
  padding: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#valor-dolar {
  font-weight: bold;
  margin-left: 5px;
}

/* Estilo del botón convertir */
#convertToDollar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0 1rem;
  font-size: 1.2rem;
  background-color: #f7df1e;
  color: #222;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

#convertToDollar:hover {
  background-color: #f0c100;
}

.dark-mode #convertToDollar {
  background-color: #000;
  color: #fff;
}

.dark-mode #convertToDollar:hover {
  background-color: #222;
}

#menu-interactivo {
  display: flex;
  align-items: center;
  gap: 20px; 
  padding: 10px 20px;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.carrito-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}

.carrito-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
}

.carrito-item p {
  margin: 0;
  flex-grow: 1;
}

.carrito-item .btn-group {
  display: flex;
  gap: 5px;
  margin: 5px;
}

.carrito-item button {
  background-color: #f7df1e;
  border: none;
  color: #222;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  transition: background-color 0.3s ease;
}

.carrito-item button:hover {
  background-color: #f0c100;
}

#btn-eliminar-todo {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #dc3545; /* Color rojo para eliminar */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-eliminar-todo:hover {
  background-color: #c82333;
}

#carrito-ventana p {
  font-weight: bold;
  margin: 1rem 0;
}

#carrito-ventana button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

#carrito-ventana button:hover {
  background-color: #218838;
}

.filter-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem 0;
  align-items: center;
  justify-content: center;
}

.filter-container input,
.filter-container select {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.filter-container select {
  cursor: pointer;
}
.filter-container input:focus,
.filter-container select:focus {
  border-color: #007bff;
  outline: none;
}
#seccion1 {
  padding: 2rem;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 1200px;
}

#seccion1 h1 {
  font-family: 'Arial', sans-serif; 
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

#seccion1 h3 {
  font-family: 'Arial', sans-serif; 
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-decoration: underline;
}

#seccion1 .filter-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

#seccion1 section .filter-container input,
#seccion1 section .filter-container select {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

#seccion1 section .filter-container input {
  background-color: #fff;
}

#seccion1 section .filter-container button {
  background-color: #f7df1e; 
  border: none;
  color: #222;
}


.card {
  background-color: #222; 
  color: #f7df1e;
  border: 1px solid;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-body img {
  max-width: 100%;
  border: 2px solid #444;
}

.card .card-body .card-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card .card-body p {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.9rem;
}

.card .btn {
  background-color: #f7df1e;
  color: #222;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card .btn:hover {
  background-color: #f0c100;
  color: #222;
}


.dark-mode .card {
  background-color: #f7df1e;
  color: #222;
  border: 1px solid #666;
}

.dark-mode .card .btn {
  background-color: #222;
  color: #f7df1e;
}

.dark-mode .card .btn:hover {
  background-color: #444;
  color: #f7df1e;
}


@media (min-width: 768px) {
  .card {
    flex: 1 1 calc(25% - 2rem);
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 2rem); 
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 100%;
  }
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.no-result {
  font-size: 30px;
  color: #ff0000;
  background-color: #000;
  border-radius: 10%;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }
  #menu-interactivo {
    flex-direction: column;
  }
  #carrito-container, #precio-dolar, #convertToDollar {
    margin: 0.5rem 0;
  }
}