.section{
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $container-width;
  min-height: 100vh;
  text-align: center;
  .card-filter {
    margin: 2rem;
    padding: 0.5rem;
    width: 50%;
    border-color: $main-color;
  } 
}
